<br/>
<section id="footer">
<div class="container-footer">
  <div class="panel-footer">
	  <div class="row">
		<div class="col-sm-4">
		    <h5>About</h5>	
            <p>{{ site.affiliation }}</p>
		</div>

		<div class="col-sm-4">
		    <h5>Contact</h5>	
            <p>{{ site.contact }}</p>
		</div>

		<div class="col-sm-4">
		    <h5>Coordinates</h5>	
            <p>{{ site.location }}</p>
		</div>
	  </div>

      <div style="text-align:center;margin-top: -10px;">
		<p class="footer-date" style="display:inline;">&copy; {{ "now" | date: "%B %Y" }} {{ site.title | escape }} </p>
		<!-- hitwebcounter Code START -->
		<img src="https://hitwebcounter.com/counter/counter.php?page=17064963&style=0006&nbdigits=5&type=ip&initCount=0" title="Counter Widget" alt="Visit counter For Websites" border="0" style="display:inline; margin-left: 50px;" />
		<!-- hitwebcounter Code END -->
	</div>
	</div>
  </div>
</div>

<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>


