img { 
    border-radius:2%;
}

.jumbotron {
    padding:20px; 
    padding-bottom:7px; 
    margin-top:22px; 
    margin-bottom:22px;
}

.navbar {
  margin-bottom: 15px;
  border-bottom: 4px solid var(--secondary);
  padding-top: 0.3rem;   
  padding-bottom: 0.3rem;
}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-footer {
  margin-right: auto;
  margin-left: auto;
  padding-left:  20px;
  padding-right: 20px;
}

.well-collapse {
  padding-left:  10px;
  padding-right: 10px;
  padding-top:   10px;
  padding-bottom: 4px;
  border-radius:  7px;
  min-height:     1px;
  margin-top:    15px;
  color: black;
  background-color: var(--gray);
  border: 2px solid var(--gray-dark);
  blockquote {
    border-color: var(--gray-dark);
    border-color: rgba(0,0,0,.15);
  }
}

.embed-container-home {
  position: relative;
  padding: 0px;
  margin: 0px;
  // width: 435px;
  // height: 150px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url($baseurl + "/images/thumbs/3dtrain.jpeg");
}

.embed-container {
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 175px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.embed-container-spleen {
  height: 155px;
  background-image: url($baseurl + "/images/thumbs/spleen.jpg");
}

.embed-container-leuk {
  height: 112px;
  background-image: url($baseurl + "/images/thumbs/spleen.jpg");
}

.MathJax_ref {
  fill: #00bc8c!important;
}

// 移动端
@media (max-width: 991.98px) {
  .jumbotron,
  .card,
  .alert,
  .list-group {
    margin-left: 12px;
    margin-right: 12px;
    width: auto;
  }
}

/* 手机 / 平板下折叠状态的下拉菜单更紧凑 */
@media (max-width: 991.98px) {
  .navbar {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
  .navbar-collapse .navbar-nav .nav-link {
    font-size:18px;      /* 字体变小 */
    padding-top: 0.2rem;  /* 上下内边距更紧凑 */
    padding-bottom: 0.2rem;
    line-height: 1.5;     /* 缩小行高 */
  }
  /* 如果下拉菜单里面还有按钮或其它元素，也一起收紧 */
  .navbar-collapse {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}